body{

    & .small-text{

        font-size: 12px;
        color: $fogged;
    }

    & .col{
        line-height: 1.6rem;
    }

    section{
        padding: 4vw 0;
    }
    
    a, button{
        cursor: pointer;
        color: $secondary;
        border: 0;
    
    
        &.btn{
            display: inline-block;
            line-height: 36px;
            padding: 0 15px;
            border-radius: 4px;
            text-transform: uppercase;
            background: $secondary;
            color: #fff;
        }
    
        &.btn-outlined{
            @extend .btn;
            background: #fff;
            color: $secondary;
            border: 1px solid $secondary;
        }
    
        &.btn-success{
            @extend .btn;
            background: $success;
            color: #fff;
        }
    
        &.btn-flat{
            @extend .btn;
            background: transparent;
            color: $secondary;
        }
    }
    
    *:focus{
        outline:none;
    }
    
    .h1-wrapper{
    
        display: flex;
        align-items: center;
        overflow: hidden;
        
        & h1{
            display: block;
            overflow: hidden;
            max-width: 100%;
            transition: max-width .2s;
            line-height: 40px;
        }
    
        & .icon-wrapper{
            padding: 10px;
            font-size: 32px;
    
            & a{
    
                font-family: 'Material Design Icons';
    
                &:before{
                    content: '\F0349';
                }
            }
        }
    
        & .input-wrapper{
    
            transform: scaleX(0);
            flex-grow: 1;
            width: 300px;
            max-width: 0;
            flex-shrink: 0;
            transition: transform .2s, max-width .2s;
    
            & input{
                display: block;
                border: 0;
                background: transparent;
                border-bottom: 1px solid black;
                width: 100%;
                line-height: 40px;
            }
        }
    
        &.search-visible{
    
            & h1{
                max-width: 0;
            }
    
            & .icon-wrapper{
    
                & a{
    
                    &:before{
    
                        content: '\F004D';
                    }
                }
            }
    
            & .input-wrapper{
                transform: scaleX(1);
                max-width: 100%;
                width: 100%;
            }
        }
    }
    
    [contenteditable]{
    
        color: $secondary;
        cursor: pointer;
    
        & + .currency{
            color: $secondary;
        }
    
        &:focus{
            color: $text;
    
            & + .currency{
                color: $text;
            }
        }
    }
    
    .hidden{
        display: none !important;
    }

    .flex-separator{
        flex-grow: 1;
    }
    
    .filters{
    
        margin: 20px 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    
        & .h2-wrapper{
            flex-grow: 1;
    
            @media(max-width: $large){
                width: 100%;
            }
        }
    
        & .filter{
            
            &:not(:first-of-type){
                margin-left: 20px;
            }
    
            @media(max-width: $large){
                margin-left: 0;
                margin-right: 20px;
            }
    
            @media(max-width: $small){
                width: 100%;
                margin-left: 0 !important;
                margin-right: 0 !important;
            }
        }
    }
    
    table.page-table{
    
        border-spacing: 0;
        width: 100%;
    
        & thead{
    
            & th{
                text-align: left;
                font-size: 12px;
                padding-top: 32px;
                padding-bottom: 8px;
                position: -webkit-sticky;
                position: sticky;
                top: 57px;
                background: #fff;
                z-index: 3;
                border-bottom: 1px solid $fogged;
            }
        }
    
        & tbody{
    
            & tr{
        
                &:nth-child(even){
                    background: rgba(black, .02);
                }
        
                & td{
                    padding: 8px 0;
                    border-top: 1px solid $fogged;
                    transition: background-color .2s;
                    // white-space: nowrap;

                    &.actions-td{

                        padding: 0;

                        & a.action{
                            display: inline-block;
                            width: 40px;
                            line-height: 36px;
                            text-align: center;
                            border-radius: 50%;

                            &:hover{
                                background: rgba(black, .03);
                            }
                        }
                    }
    
                    & input{
                        min-height: unset;
                        display: inline-block;
                        width: fit-content;
                    }
    
                    & .modified, & .modified + .currency{
                        color: $warning;
                    }
    
                    & .mdi{
    
                        font-size: 21px;
                    }
    
                    & ul{
                        margin: 0;
                    }
                }
        
                &:last-of-type{
        
                    & td{
                        border-bottom: 1px solid $fogged;
                    }
                }

                & > td > a{
                    color: $fogged;
                }
    
                &:hover{

                    & td > a{
                        color: $secondary;
                    }
    
                    & td{
    
                        background: rgba(black, .06);
                    }
                }
            }
        }
    
        & .prefix{
            display: none;
        }
    
        @media(max-width: $small){
    
            thead{
                display: none;
            }
    
            & tbody{
                display: block;
    
                & tr{
                    display: flex;
                    flex-wrap: wrap;
                    border-bottom: 1px solid $fogged;
                    align-items: center;
                    
                    &:nth-child(even){
                        background: transparent;
                    }
                    
                    & td{
                        display: block;
                        border: 0;
                        padding-right: 20px;
    
                        &:last-of-type{
                            flex-grow: 1;
                        }
    
                        &.check-field{
                            width: 20px;
                        }
    
                        &.autofill{
                            width: calc(100% - 70px);
                            flex-grow: 1;
                        }
    
                        & .prefix{
                            // display: block;
                            font-size: 12px;
                            color: $fogged;
                        }
    
                    }
    
                    &:hover td{
                        background: transparent;
                    }
    
                    &:last-of-type{
    
                        & td{
                            border: 0;
                        }
                    }
                }
            }
    
            &.checkbox-table{
    
                & tbody{
    
                    & tr{
    
                        padding: 20px 0;
    
                        & td{
    
                            padding: 0;
                            line-height: 20px;
    
                            &:nth-child(2){
                                padding-left: 20px;
                            }
    
                            &:nth-child(n + 3){
                                padding-left: 40px;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .critical-text{
        color: $critical !important;
    }
    
    .actions-wrapper{
    
        width: fit-content;
        margin-left: auto;
        display: inline-block;
    
        & a{
            color: $text;
        }
    
        & > li{
    
            position: relative;
            
            & ul{
                margin: 0 !important;
                box-shadow: 0 1px 3px rgba(black, .4);
                text-align: left;
                max-width: fit-content;
                position: absolute;
                right: 0;
                z-index: 2;
                border-radius: 4px;
                transition: transform .2s, opacity .2s;
                transform: translateY(-20px);
                opacity: 0;
                pointer-events: none;
        
                & li{
                    position: relative;
                    display: block;
                    background: #fff;
                    
                    &:first-of-type{
                        border-top-left-radius: 4px;
                        border-top-right-radius: 4px;
                    }
                    
                    &:last-of-type{
                        border-bottom-left-radius: 4px;
                        border-bottom-right-radius: 4px;
                    }
        
                    & a{
                        display: block;
                        line-height: 36px;
                        padding: 0 16px;
                        white-space: nowrap;
                        max-width: 50vw;
                        overflow: hidden;
                        text-overflow: ellipsis;
    
                        &:hover{
                            background: rgba(black, .05);
                        }
                    }
        
                    & ul{
                        position: absolute;
                        top: 0;
                        right: 100%;
                        transform: translateX(20px);
                        opacity: 0;
                        pointer-events: none;
                        transition: transform .2s, opacity .2s;
                        z-index: 4;
                    }
    
                    &:hover ul{
    
                        transform: none;
                        opacity: 1;
                        pointer-events: all;
                    }
                }
            }
    
            & a.actions-wrapper.active{
    
                & + ul{
    
                    opacity: 1;
                    pointer-events: all;
                    transform: none;
                }
            }
        }
    
    }

    .modal{

        position: relative;
        position: fixed;

        & .closer{
            position: absolute;
            right: 0px;
            top: 0px;
            font-size: 21px;
            color: $text;
            padding: 12px;
        }

        & .input-field{
            width: 100%;
        }

        &#register-payment{
            max-width: 460px;
        }

        @media(max-width: $medium){
            width: 100%;

            & .modal-content{
                padding: 12px;
            }
        }

        &.overflow{
            overflow: visible;
        }

        &#register-expense{
            max-width: 480px;
        }

        &#act-control{
            max-width: 480px;
        }
    }

    .no-margin{
        margin: 0 !important;
    }

    .fogged-text{
        color: $fogged !important;
    }

    .dropdown-content{

        min-width: fit-content;
        & li{
            
            min-width: fit-content;
            & a, span{
                white-space: nowrap;
            }
        }
    }

    .fab{
        position: fixed;
        bottom: 30px;
        right: 30px;
        display: inline-block;
        line-height: 52px;
        width: 52px;
        text-align: center;
        font-size: 32px;
        border-radius: 50%;
        background: $secondary;
        color: #fff;
    }

    .v-center{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

}
