.check-field{

    & input[type=checkbox]{
        display: none;

        & ~ label{

            cursor: pointer;
            line-height: 21px;

            &:before{
                content: '\F0130';
                font-family: 'Material Design Icons';
                font-size: 21px;
                color: $fogged;
                margin-right: 6px;
                display: inline-block;
                transform: translateY(2px);
            }

            &:hover:before{
                color: $text;
            }
        }

        &:checked ~ label{

            &:before{

                content: '\F0133';
                color: $success;
            }

            &:hover:before{
                color: $success;
            }
        }
    }
}

.input-field{

    border-bottom: 1px solid $text;
    margin-bottom: 20px;
    padding-top: 15px;
    display: inline-block;
    position: relative;
    width: 200px;

    & input.styled
    {
        &[type=text],
        &[type=number]{
            border: 0;
            background: transparent;
            font-size: 16px;
            line-height: 32px;
            font-family: 'Roboto';
            width: 100%;
            
            & ~ label{
                pointer-events: none;
                white-space: nowrap;
                position: absolute;
                left: 2px;
                top: 23px;
                transition: color .2s, top .2s, font-size .2s;
            }

            &::placeholder{
                color: transparent;
            }

            &:focus, &:not(:placeholder-shown){

                & ~ label{
                    font-size: 12px;
                    top: 0px;
                    color: $fogged;
                }
            }
        }
    }
}

.select-wrapper.select-wrapper-custom{

    display: inline-block;
    width: 100%;
    
    & input[type=text].select-dropdown{
        margin-bottom: 0;
        font-size: 16px;
        line-height: 32px;
        height: 35px;
        border-bottom: 0;
    }

    & .caret{
        transform: translateY(8px);
    }
}
